<!-- views/403.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forbidden</title>
</head>
<body>
  <h1>Forbidden</h1>
  <p>You don't have permission to access this resource.</p>
  <a href="/staff">Go back to Home</a>
</body>
</html>
